" --- Leader key ---
let mapleader = " "
" disable space in normal mode so it only acts as leader
nnoremap <SPACE> <Nop>

" --- Options ---
" keep 5 lines visible above/below cursor when scrolling
set scrolloff=5

" Find more examples here: https://jb.gg/share-ideavimrc

" --- Plugins ---
set easymotion
let g:EasyMotion_do_mapping = 0
nmap <leader>ss <Plug>(easymotion-s)

" --- Leader mappings (normal mode) ---
" fuzzy search everything (files, actions, symbols)
nmap <leader>se <action>(SearchEverywhere)
" go to implementation (also on gI)
nmap gI <action>(GotoImplementation)
" go to implementation
nmap <leader>gi <action>(GotoImplementation)
" show recent files popup
nmap <leader><leader> <action>(RecentFiles)
" find in current file
nmap <leader>/ <action>(Find)
" search/go to file by name
nmap <leader>sf <action>(GotoFile)
" search/grep across project
nmap <leader>sg <action>(FindInPath)
" show file structure (functions, methods)
nmap <leader>ds <action>(FileStructurePopup)
" rename symbol under cursor
nmap <leader>rn <action>(RenameElement)
" show code actions / quick fixes
nmap <leader>ca <action>(ShowIntentionActions)
" dismiss all IDE notifications
nmap <leader>nc <action>(ClearAllNotifications)

" --- Navigation (normal mode) ---
" jump to previous method/function
nmap [[ <Action>(MethodUp)
" jump to next method/function
nmap ]] <Action>(MethodDown)
" jump to next error
nmap ]e <Action>(GotoNextError)
" jump to previous error
nmap [e <Action>(GotoPreviousError)

" --- Visual mode line moving ---
" move selected lines down
vmap J :m '>+1<CR>gv=gv
" move selected lines up
vmap K :m '<-2<CR>gv=gv

" --- Scroll remaps (all modes) ---
" Ctrl+K = half-page up (instead of default Ctrl+U)
noremap <C-K> <C-U>
noremap <C-k> <C-u>
" Ctrl+J = half-page down (instead of default Ctrl+D)
noremap <C-J> <C-d>
noremap <C-j> <C-d>

" Key handler conflicts: Vim vs IDE
"Vim                    IDE (Mac keymap)               IDE (Linux $default keymap)
" --- Vim handlers ---
" open line below        start new line                 start new line
sethandler <S-CR> a:vim
" move cursor left      extend selection left           extend selection left
sethandler <S-Left> a:vim
" move cursor right     extend selection right          extend selection right
sethandler <S-Right> a:vim
" set mark / ^@ (NUL)    go to bookmark 2               go to bookmark 2
sethandler <C-2> a:vim
" half-page down          directory structure             duplicate line
sethandler <C-D> a:vim
" jump forward / tab      implement methods               implement methods
sethandler <C-I> a:vim
" (remapped ½pg down)     show commit tooltip             insert live template
sethandler <C-J> a:vim
" (remapped ½pg up)       cut to line end                 commit (VCS)
sethandler <C-K> a:vim
" jump back               override methods                override methods
sethandler <C-O> a:vim

" --- IDE handlers ---
" increment number        select first item              select all
sethandler <C-A> a:ide
" exit insert/cancel     (no binding)                   copy
sethandler <C-C> a:ide
" visual block mode       VCS operations popup             paste
sethandler <C-V> a:ide
" decrement number        (no binding)                     cut
sethandler <C-X> a:ide
" (unused in vim)        (no binding)                   save all
sethandler <C-S> a:ide
" (unused in vim)        (keymap-specific)              (keymap-specific)
sethandler <M-;> a:ide
" (unused in vim)        (keymap-specific)              (keymap-specific)
sethandler <C-;> a:ide
" (unused in vim)        (keymap-specific)              (keymap-specific)
sethandler <M-S-;> a:ide
" (unused in vim)        (keymap-specific)              (keymap-specific)
sethandler <C-S-;> a:ide
" move cursor up        extend selection up             extend selection up
sethandler <S-Up> a:ide
" move cursor down      extend selection down           extend selection down
sethandler <S-Down> a:ide
" word back             select previous tab             move to previous word
sethandler <C-Left> a:ide
" word forward          select next tab                 move to next word
sethandler <C-Right> a:ide
" (unused in vim)        toggle bookmark 2              toggle bookmark 2
sethandler <C-S-2> a:ide
" switch alternate file   go to bookmark 6               go to bookmark 6
sethandler <C-6> a:ide
" (unused in vim)        toggle bookmark 6              toggle bookmark 6
sethandler <C-S-6> a:ide
" page up                select parent node              go to declaration
sethandler <C-B> a:ide
" scroll down one line    move caret to line end          recent files
sethandler <C-E> a:ide
" page down              right (emacs move)              find
sethandler <C-F> a:ide
" show file info          add sel for next occurrence     go to line:column
sethandler <C-G> a:ide
" backspace (alias)       base on this type               type hierarchy
sethandler <C-H> a:ide
" redraw screen           scroll to center                go to line
sethandler <C-L> a:ide
" enter (alias)           module                          (no binding)
sethandler <C-M> a:ide
" next line/autocomplete  down split / switch down        go to class
sethandler <C-N> a:ide
" previous line           select previous row             parameter info
sethandler <C-P> a:ide
" redo                    search in command history        replace
sethandler <C-R> a:ide
" jump back from tag      group services by type           update project (VCS)
sethandler <C-T> a:ide
" window commands prefix  delete previous word             extend selection
sethandler <C-W> a:ide